<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>Python3 blockchain</title>

	<link rel="shortcut icon" href="../static/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../static/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../static/assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../static/assets/js/html5shiv.js"></script>
	<script src="../static/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Python3 blockchain</h1>
				<p>
    <form method="post" action="/">
        <input type="submit" value="Home" name="action0"/>
        <input type="submit" value="Mine" name="action1"/>
        <input type="submit" value="Blockchain" name="action2" />
        <input type="submit" value="Validity" name="action3" />
    </form></p>
         <h4>Developer : Hamdy Abou El Anein, hamdy.aea@protonmail.com</h4>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">{{ chain }}</h2>
	</div>
	<!-- /Intro-->


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../static/assets/js/headroom.min.js"></script>
	<script src="../static/assets/js/jQuery.headroom.min.js"></script>
	<script src="../static/assets/js/template.js"></script>
</body>
</html>
